.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: transparent;
  position: sticky;
  top: 0;
}
.body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  position: sticky;
  top: 0;
  padding: 0px 20px;
}
.body > h2 {
  display: flex;
  height: 5%;
  width: 20%;
  font-weight: 1000;
  padding-right: 20px;
  font-family: cursive;
  color: pink;
}
.button {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 250px;
}
.button > button {
  color: white;
  background-color: blueviolet;
  border: none;
  font-size: 20px;
  font-family: cursive;
}
.support1 {
  height: 300px;
  width: 100px;
  margin-top: -30px;
}
.support1 > button {
  height: 50px;
  width: 140px;
  font-size: 20px;
  border-radius: 30px;
  background-color: rgb(247, 10, 10);
  border: none;
  color: white;
}
